* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    background-color: rgb(207, 241, 234);
    color: rgb(11, 4, 107);
}
figure {
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    border: solid 0.5rem;
}
figure p {
    font-size: 2.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
}
h1 {
    text-align: center;
    font-size: 6rem;
    padding: 0.5rem;
    margin: 0.5rem;
    
}
h2 {
    text-align: center;
    font-size: 4rem;
    padding: 0.5rem;
    margin: 0.5rem;
}
footer {
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
}
.nav {
    margin: 2rem;
    padding: 1rem;
    border: 0.5rem solid;
    text-align: center;
    padding-right: 5rem;
    width: auto;
}
.nav li {
    display: inline-flex;
    font-size: 2rem;
    padding-left: 10rem;
}
.nav li a {
    text-decoration-line: none;
}
footer p a {
    text-decoration-line: none;
}
main {
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 2rem;
    border: 00.5rem solid;
}
main p img {
    width: auto;
    height: 30rem;
}
