* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    font-size: 1.6rem;
    background-color: rgb(212, 237, 245);
    color: rgb(11, 10, 15);
}
h1 {
    text-align: center;
    font-size: 3rem;
    padding: 0.5rem;
    margin: 0.5rem;
    
}
h2 {
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
}
main {
    text-align: center;
    font-size: 1.8rem;
    padding: 0.5rem;
    margin: 2rem;
    border: 00.5rem;
}
figure img {
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
}
footer {
    text-align: center;
    font-size: 1.6rem;
    padding: 0.5rem;
    margin: 0.5rem;
}
footer p a {
    text-decoration-line: none;
}
.nav {
    display: inline-flex;
    list-style-type: none;
    padding: 1rem;
    margin: 2rem;
    border: 0.5rem solid rgb(61, 27, 216);
    text-decoration: none;
    text-align: center;
    width: auto;

    padding-right: 5rem;
} 
.nav li {
    display: inline-flex;
    font-size: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;

}
.nav li a {
    text-decoration-line: none;
    font-size: 2rem;
}
.logo {
    width: 5%;
    height: 5%;
}
/* Clases en el html para el main
.title 
.slide 
.container */
